body{
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    font-weight: bold;
}
.navbar-container{
    background-color: rgb(48, 25, 124);
    top: 0;
    position: sticky;
    z-index: 2;
}
.big p::first-letter{
     font-size: 45px;
}
.about-container{
    background-color: rgba(20, 5, 5, 0.418);
    color: whitesmoke;
}
.dogbreed-container{
    background-color: whitesmoke;
}
.hh{
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}
.card-body{
    background-color: rgba(20, 5, 5, 0.418);
    color: whitesmoke;
}
.dogfood{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.dogfood-container{
    background-color: rgba(20, 5, 5, 0.418);
}
.gallery{
    text-align: center;
    padding-top: 50px;
   padding-bottom: 50px;
   font-weight: bold;
}
.form1{
    padding: 50px;
   
}
.contact{
    text-align: center;
    padding: 40px;
    font-weight: bold;

}

.btn{
    background-color: rgba(20, 5, 5, 0.418) ;
    color: whitesmoke;
    margin-bottom: 40px;
}
.footer{
    background-color: rgba(20, 5, 5, 0.418) ;
    color: whitesmoke;
}
.circle-2{
    height: 75px;
    width: 75px;
    border-radius: 70%;
    display: inline-block;
    background:white;
    font-size: 50px;
    text-align: center;

}
.circle-2:hover{
    background-color: rgba(20, 5, 5, 0.418) ;
}
